/*ESTILOS*/

/*GLOBALES*/
:root {
    --negro: #000000;
    --blanco: #ffffff;
    --primario: #665924;
    --secundario: #ffde59;
    --gris: #757575;
}

html { 
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    scroll-snap-type: y mandatory;    
} 
/*Globales*/

/*CUERPO*/
.fondo {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*cuerpo*/

/*BARRA DE NAVEGACIÓN*/
.nav-bar {
    background-color: var(--secundario);
    border-radius: 0 0 2rem 2rem;
}

.nav-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 940px) { 
    .nav-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.nav-principal a {
    display: block;
    text-align: center;
    background-color: var(--primario);
    color: var(--secundario);
    /*stroke: var(--negro);*/
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin: auto;
}

.nav-principal a:hover, .nav-principal svg:hover {
    background-color: var(--negro);
    color: var(--primario);
    stroke: var(--primario);
}
/*Barra de Navegación*/

/*FORMULARIO*/
.formulario{
    background-color: var(--primario);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    text-align: left;
}

.formulario fieldset{
    border-width: 0.5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: var(--secundario);
}

.formulario legend{
    font-size: 3rem;
    padding: 1rem;
    color: var(--secundario);
    text-transform: uppercase;
    text-align: center;
}

.formulario label{
    font-size: 2rem;
    color: var(--secundario);
    padding-left: 4rem;
}

@media (max-width: 768px) { 
    .formulario {
        width: auto;
    }
}

.formulario a{
    color: var(--secundario);
}

.input-text{
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 1rem 0 1rem 4rem;
}

.boton {
    background-color: var(--secundario);
    color: var(--primario);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;    
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    background-color: var(--negro);
    cursor: pointer;
}

@media (min-width: 768px) { 
    .boton {
        width: auto;
    }
}

.flex {
    display: flex;
}

.derecha {
    justify-content: flex-end;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) { 
    .w-sm-100 {
        width: auto;
    }
}
/*Formulario*/

/*FOOTER*/
footer{
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
}
/*Footer*/